CRON_URL='https://pontowebapp.secullum.com.br/50911/IncluirPonto?funcionarioId=000'
CRON_IP='44.220.252.222'
CRON_AUTH_TOKEN='Basic MzTzNDoyRrEuZkF2cmQyOj@='

#50911 : codigo da basis no sistema da secullum